<div class="comments">
    {{#each comments}}
        <section class="comment">
            <p>{{this.text}}</p>
            <p>Posted by: {{this.User.username}}</p>
        </section>
        {{/each}}
</div>