<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/public/css/style.css">

</head>
<body>
  <h1 class="login-container">Login</h1>
  
  <form action="/api/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Login</button>
  </form>

  <!-- link to the signup page -->
<p>Don't have an account? <a href="/signup">Sign Up</a></p>
  
</body>
</html>
