/* Global styles applicable to all views */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Header styles */
.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Login view styles */
.login-container {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Dashboard view styles */
.ç{
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

